<div class="introduction globalPadding creamColor">
    <div class="headline">
        <h1>Frontend Developer</h1>
        <div class="underscore">
            <img src="/assets/img/Vector 11.svg" alt="">
            <p>Jonas Kratzenberg</p>
        </div>
    </div>
    <div class="headlineLower">
        <a href="#contact">jonas.kratzenberg@web.de</a>
        <div class="scrollDown">
            <div>
                <img src="/assets/img/Group 3.svg" alt="">
            </div>
            <p>Scroll Down</p>
        </div>
    </div>

</div>
