@import "src/assets/_variables.scss";

.introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - $primary-padding * 2);
  height: 100vh;
}

.headline {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    width: 100%;
    font-weight: 800;
    font-size: 128px;
    text-align: center;
    margin: 0;
    line-height: 0.9;
  }
}

.underscore {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-top: 16px;
  height: 50px;

  img {
    width: 60%;
    height: fit-content;
  }
  p {
    color: #5988ff;
    font-size: 48px;
    white-space: nowrap;
    font-family: Overpass;
    margin: 0;
    height: fit-content;
  }
}

.headlineLower {
  width: calc(100% - 29px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 29px;
  overflow: hidden;
  height: 362px
}

.joint {
  width: 1px;
  height: 1px;

  a {
    display: inline-block;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    margin: 150px 0 0 0px;
    font-weight: 300;
    font-size: 23px;
    font-family: Overpass;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}

.scrollDown {
  &:hover {
    img {
      animation: arrow 1s infinite ease;
    }
  }

  div {
    overflow: hidden;
  }

  img {
    transform: translateY(-95px);
  }

  p {
    font-family: Overpass;
    font-weight: 300;
    font-size: 23px;
    max-width: 90px;
    
  }
}

@keyframes arrow {
  20% {
    transform: translateY(-95px);
  }
  40% {
    transform: translateY(-45px);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(45px);
  }
  100% {
    transform: translateY(95px);
  }
}

@media (max-width: 1270px) {
  h1 {
    font-size: 88px !important;
  }

  .underscore {
    img {
      width: 40%;
    }
    p {
      font-size: 40px;
    }
  }
}

@media (max-width: 935px) {
  h1 {
    font-size: 64px !important;
  }

  .underscore {
    img {
      width: 30%;
    }
    p {
      font-size: 30px;
    }
  }
}

@media (max-width: 740px) {
  h1 {
    font-size: 48px !important;
  }

  .underscore {
    img {
      width: 30%;
    }
    p {
      font-size: 28px;
    }
  }
}

@media (max-width: 610px) {
  h1 {
    font-size: 36px !important;
  }

  .introduction {
    width: calc(100% - $secondary-padding * 2);
  }

  .underscore {
    margin: 0;
    img {
      width: 35%;
    }
    p {
      font-size: 20px;
    }
  }
}

@media (max-width: 370px) {
  h1 {
    font-size: 27px !important;
  }

  .underscore {
    margin: 0;
    img {
      width: 43%;
    }
    p {
      font-size: 16px;
    }
  }
}
