<div class="about globalPadding" id="aboutMe">
    <h2>About me</h2>
    <div class="aboutBody">
        <div class="aboutText">
            <span>
                I am a Software Developer based in Aachen with the skillset to create and maintain modern, responsive front-end solutions.
                I have work structured and organised with a mission mindset and I am currently looking to continue my journey in the position of junior software developer.
                <br>
                <br>
                If you think I can help ou with a project or you need a new motivated member in your team, message me right here.
            </span>
            <a href="#contact">Let's Talk</a>
        </div>
        <div class="wrapper">
            <div class="frame"> </div>
            <img src="/assets/img/kaiser.jpg" alt="">
        </div>


    </div>

    <div class="arrowLeft">
        <img src="/assets/img/Group 3.svg" alt="">
    </div>

</div>