<div class="about globalPadding" id="aboutMe">
    <h2>About me</h2>
    <div class="aboutBody">
        <div class="aboutText">
            <span>
                I am a Software Developer based in Aachen with the skill set to create and maintain modern, responsive
                front-end solutions.
                My Focus are web apps with Angular, however due to my strong JavaScript background, I am open to work
                with other frameworks such as Vue.js or React.
                Currently I am  looking to continue my journey as a junior software developer.
                <br>
                <br>
                If I can help you with a project or you need a new motivated team member, message me right here.
            </span>
            <a href="#contact">Let's Talk</a>
        </div>
        <div class="wrapper">
            <div> </div>
            <img src="assets/img/kaiserClean.png" alt="">
        </div>


    </div>

    <div class="arrowLeft" aos-data="fade-down">
        <img src="assets/img/Group 3.svg" alt="">
    </div>

</div>