<div class="about globalPadding" id="aboutMe">
    <h2>About me</h2>
    <div class="aboutBody">
        <div class="aboutText">
            <span>
                Retired Panzergrenadier and Ukraine War Veteran, ready to bring my experience into the defence industry
                to create systems and solutions of future wars.
                Experience in AI, Software and Defense Technology Sales on a B2B and Federal Level.
                <br>
                <br>
                Currently training in Programming, proficient in HTML, CSS and Javascript as well as resonsive
                web-design and Angular.
                Author of the Bestseller "Schützenhilfe" and recipient of the Golden Cross of the Ukrainian Army.
            </span>
            <a href="#contact">Let's Talk</a>
        </div>
        <div class="wrapper">
            <div class="frame"> </div>
            <img src="/assets/img/kaiser.jpg" alt="">
        </div>


    </div>

    <div class="arrowLeft">
        <img src="/assets/img/Group 3.svg" alt="">
    </div>

</div>