<app-atf class="max-width"></app-atf>
<app-head class="max-width" *ngIf="!this.menuService.MenuGlobal"></app-head>
<app-about-me class="max-width" *ngIf="!this.menuService.MenuGlobal"></app-about-me>
<app-skills class="max-width" *ngIf="!this.menuService.MenuGlobal"></app-skills>
<app-portfolio class="max-width portfolio" *ngIf="!this.menuService.MenuGlobal"></app-portfolio>

<app-burger-menu class="max-width" *ngIf="this.menuService.MenuGlobal"></app-burger-menu>


<app-contact class="max-width"></app-contact>