<app-atf></app-atf>
<app-head *ngIf="!this.menuService.MenuGlobal"></app-head>
<app-about-me *ngIf="!this.menuService.MenuGlobal"></app-about-me>
<app-skills *ngIf="!this.menuService.MenuGlobal"></app-skills>
<app-portfolio *ngIf="!this.menuService.MenuGlobal" class="portfolio"></app-portfolio>



<section *ngIf="this.menuService.MenuGlobal" class="burgerMenu">
    <a (click)="hideMenu()" href="#aboutMe">
        <img src="/assets/img/Rectangle 7.svg" alt="">
        <div class="bar"></div>
        <h1>About Me</h1>
    </a>
    <a (click)="hideMenu()" href="#skills">
        <img src="/assets/img/Rectangle 7.svg" alt="">
        <div class="bar"></div>
        <h1>My Skills</h1>
    </a>
    <a (click)="hideMenu()" href="#portfolio">
        <img src="/assets/img/Rectangle 7.svg" alt="">
        <div class="bar"></div>
        <h1>My Portfolio</h1>
    </a>

</section>

<app-contact></app-contact>