<app-atf></app-atf>

<div class="container" *ngIf="!this.menuService.MenuGlobal">
    <h1>Impressum</h1>

    <h2>Inhaltlich verantwortlich</h2>

    <p>Jonas Kratzenberg <br>
        Vennstraße 82 <br>
        52224 Stolberg <br>
        Telefon: <br>
        +49 1522 3323099 <br>
        <br>
        <br>
        Fax: <br>
        -
        <br>
        <br>
        E-Mail: <br>
        jonas.kratzenberg@web.de
    </p>


    <h2>Bildnachweise</h2>

    <p>Alle genutzen Bilder sind selbst-erstellt oder unter free license erhältlich</p>
</div>

<app-burger-menu *ngIf="this.menuService.MenuGlobal"></app-burger-menu>

<app-contact></app-contact>