@import "src/assets/_variables.scss";

div {
  margin: 180px 0;
  padding: 0 $primary-padding;
  font-family: Overpass;
}

@media (max-width: 610px) {
  div {
    padding: 0 $secondary-padding;
  }
}
