<div class="contact" id="contact">
    <div class="sayHi">
        <a href="#contact" (click)="this.menuService.MenuGlobal = false">Say Hi!</a>
    </div>
    <div *ngIf="!this.menuService.MenuGlobal && currentRoute !== 'success' && currentRoute !== 'privacyPolicy' && currentRoute !== 'legal'"
        class="contactForm">
        <form [formGroup]="contactForm" (ngSubmit)="sendMail()">
            <h2>Want to discuss a new Project?</h2>
            <h3>Say Hello! Lets discuss your ideas and make them happen</h3>
            <div class="wrapper">

                <input class="inputs" type="text" placeholder="Your Name" formControlName="name">
                <img *ngIf="contactForm.get('name').valid || contactForm.get('name').invalid && (contactForm.get('name').dirty || contactForm.get('name').touched) "
                    class="symbol"
                    [src]="contactForm.get('name').valid ? 'assets/img/Frame (1).svg': 'assets/img/Vector (1).svg'">
            </div>
            <div *ngIf="contactForm.get('name').invalid && (contactForm.get('name').dirty || contactForm.get('name').touched)"
                class="error">
                Please Fill out this field</div>

            <div class="wrapper">

                <input class="inputs" type="text" placeholder="Your Email" name="email" formControlName="email">
                <img *ngIf="contactForm.get('email').valid || contactForm.get('email').invalid && (contactForm.get('email').dirty || contactForm.get('email').touched) "
                    class="symbol"
                    [src]="contactForm.get('email').valid ? 'assets/img/Frame (1).svg': 'assets/img/Vector (1).svg'">
            </div>
            <div *ngIf="contactForm.get('email').invalid && (contactForm.get('email').dirty || contactForm.get('email').touched)"
                class="error">Please Fill out this field with a valid email adress</div>
            <div class="wrapper">

                <textarea class="inputs" cols="56" rows="10" placeholder="Your Message" name="message"
                    formControlName="message"></textarea>
                <img *ngIf="contactForm.get('message').valid || contactForm.get('message').invalid && (contactForm.get('message').dirty || contactForm.get('message').touched) "
                    class="symbol"
                    [src]="contactForm.get('message').valid ? 'assets/img/Frame (1).svg': 'assets/img/Vector (1).svg'">
                <img class="bars" src="assets/img/Frame.svg" alt="">

            </div>

            <div *ngIf="contactForm.get('message').invalid && (contactForm.get('message').dirty || contactForm.get('message').touched)"
                class="error">Please Fill out this field</div>
            <div class="privPolicy">
                <div class="policyWrapper">
                    <img type="checkbox" (click)="togglePolicy()"
                        [src]="contactForm.get('policy').value ? 'assets/img/78. Check button.svg' : 'assets/img/check_box_outline_blank.svg'"
                        alt="">
                </div>

                <p>I have read the <a (click)="this.router.navigateByUrl('/privacyPolicy')">privacy policy</a> and agree to its terms</p>

            </div>
            <div *ngIf="!contactForm.get('policy').value && (contactForm.get('message').touched || contactForm.get('message').touched || contactForm.get('email').touched)"
                class="error">Please agree to my privacy policy</div>
            <button type="submit" [disabled]="!contactForm.valid" [class.greyed]="!contactForm.valid">
                Send Message</button>
        </form>



    </div>
    <div class="bottom" *ngIf="screenwidth > 600">
        <div class="mailAdress"
            *ngIf="this.menuService.MenuGlobal || currentRoute == 'success' || currentRoute == 'privacyPolicy' || currentRoute == 'legal'">
            jonas.Kratzenberg@web.de</div>
        <div *ngIf="!this.menuService.MenuGlobal && currentRoute !== 'success' && currentRoute !== 'privacyPolicy' && currentRoute !== 'legal'"
            class="logo">
            <a class="logoContainer" href="/">
                <img src="assets/img/logoJK.svg" alt="">
            </a>

            <div class="signature">
                <img src="assets/img/copyright.svg" alt="">
                <p>Jonas Kratzenberg 2022</p>
            </div>
        </div>
        <div class="links">
            <a *ngIf="!this.menuService.MenuGlobal && currentRoute !== 'success' && currentRoute !== 'privacyPolicy' && currentRoute !== 'legal'"
                (click)="scrollToTop()" class="up" href="/">
                <img class="jumpAnimation" src="assets/img/Group 7.svg" alt="">
            </a>
            <div class="social">
                <a class="jumpAnimation" href="https://github.com/FrontlineViewKaiser" target="_blank">
                    <img src="assets/img/Github button s3.svg" alt="">
                </a>
                <a class="jumpAnimation" href="mailto:jonas.kratzenberg@web.de">
                    <img src="assets/img/Email button s3.svg" alt="">
                </a>
                <a class="jumpAnimation" href="https://www.linkedin.com/in/jonas-kratzenberg-951672258/" target="_blank">
                    <img src="assets/img/Linkedin button s3.svg" alt="">
                </a>
            </div>
            <a *ngIf="!this.menuService.MenuGlobal && currentRoute !== 'success' && currentRoute !== 'privacyPolicy' && currentRoute !== 'legal'"
                class="legal" (click)="this.router.navigateByUrl('/legal')">
                Legal Notice
                <img src="assets/img/Vector 1.svg" alt="">
            </a>
        </div>
    </div>
</div>

<div class="bottomAlternative" *ngIf="screenwidth < 600">
    <div class="social">
        <a class="jumpAnimation" href="https://github.com/FrontlineViewKaiser" target="_blank">
            <img src="assets/img/Github button s3.svg" alt="">
        </a>
        <a class="jumpAnimation" href="mailto:jonas.kratzenberg@web.de">
            <img src="assets/img/Email button s3.svg" alt="">
        </a>
        <a class="jumpAnimation" href="https://www.linkedin.com/in/jonas-kratzenberg-951672258/" target="_blank">
            <img src="assets/img/Linkedin button s3.svg" alt="">
        </a>
    </div>

    <div *ngIf="!this.menuService.MenuGlobal && currentRoute !== 'success' && currentRoute !== 'privacyPolicy' && currentRoute !== 'legal'"
        class="logo">
        <a class="logoContainer" href="/">
            <img src="assets/img/logoJK.svg" alt="">
        </a>
    </div>

    <a class="email" href="mailto:jonas.kratzenberg@web.de">jonas.kratzenberg@web.de</a>

    <a *ngIf="!this.menuService.MenuGlobal && currentRoute !== 'success' && currentRoute !== 'privacyPolicy' && currentRoute !== 'legal'"
        class="legal"  (click)="this.router.navigateByUrl('/legal')">
        Legal Notice
        <img src="assets/img/Vector 1.svg" alt="">
    </a>
</div>