@import "src/assets/_variables.scss";

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
}

.sayHi {
  position: relative;
  height: 200px;
  background-color: black;
  padding: 0 $primary-padding;
  width: calc(100% - $primary-padding * 2);
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  overflow: hidden;

  &::before {
    background-color: #fffcf3;
    content: "";
    position: absolute;
    top: -390px;
    left: 0;
    height: 500px;
    width: 110vw;
    transform: rotate(5deg);
  }

  a {
    font-size: 78px;
    font-weight: 800;
    margin: 0;
    color: white;
    text-decoration: none;
    transition: color 0.5s ease;

    &:hover {
      color: #5988ff;
    }
  }
}

.contactForm {
  padding: 0 $primary-padding;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;
  width: calc(100% - $primary-padding * 2);
}

form {
  width: 100%;
  max-width: 765px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: #5988ff;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin: 28px 0 0 0;
  }

  h3 {
    text-align: center;
    margin: 28px 0 0 0;
    font-weight: 400;
    font-size: 23px;
  }

  .inputs {
    padding: 15px 25px 15px 25px;
    background-color: black;
    color: white;
    width: calc(100% - 50px);
    border-radius: 0;
    border: none;
    border-bottom: solid 2px white;
    resize: none;
    font-family: Overpass;

    &::placeholder {
      color: white;
      font-weight: 400;
      font-size: 16px;
      font-family: Overpass;
    }

    &:focus-visible {
      border: solid 3px white;
      outline: none;
    }
  }

  .privPolicy {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    font-weight: 400;
    height: fit-content;
    margin: 28px 0 0 0;
    font-family: Overpass;

    p {
      margin: 0;

      a {
        color: #5988ff;
        text-decoration: none;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  .policyWrapper {
    border-radius: 50%;
    transition: color 0.5s ease;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #5988ff;
    }

    img {
      cursor: pointer;
      width: 22px;
      height: 22px;
    }
  }

  button {
    border: solid 4px white;
    color: white;
    background-color: black;
    padding: 20px 60px;
    font-weight: 400;
    font-size: 23px;
    cursor: pointer;
    margin: 28px 0 0 0;

    &:hover {
      transform: scaleX(1.1);
      transition: 500ms ease;
    }
  }

  .error {
    color: rgb(189, 0, 0);
    font-size: 16px;
    font-weight: 400;
    margin-top: 4px;
    width: 100%;
  }
}

.bottom {
  margin-top: 24px;
  width: calc(100% - $primary-padding * 2);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 64px;

  .logoContainer {
    position: relative;
    height: 80px;
    width: 115px;
    display: flex;
    img {
      height: 80px;
      width: 115px;
      position: absolute;
      left: -20px;

      &:hover {
        transform: scale(1.2);
        transition: 250ms ease;
      }
    }
  }
  .social {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.bottomAlternative {
  padding: 80px 0 $secondary-padding;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;

  .email {
    color: white;
    font-size: 23px;
    font-weight: 300;
    text-decoration: none;
  }
  .logo {
    img {
      height: 80px;
      width: 115px;

      &:hover {
        transform: scale(1.2);
        transition: 250ms ease;
      }
    }
  }
  .social {
    display: flex;
    justify-content: space-between;
    width: 60%;
  }
}

.signature {
  display: flex;
  gap: 16px;
  margin-bottom: 47px;
  font-family: Overpass;

  img {
    width: 20px;
    height: 20px;
  }

  p {
    margin: 0;
  }
}

.links {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  width: 20%;
  min-width: 140px;

  .up {
    margin-bottom: 40px;
  }
}
.legal {
  margin-top: 24px;
  text-decoration: none;
  color: white;
  font-family: Overpass;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  overflow: hidden;

  img {
    width: 70%;
    transform: translateX(-200%);
    transition: 250ms ease;
  }

  &:hover {
    font-weight: 700;
    img {
      transform: translateX(0);
    }
  }
}

.social {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.wrapper {
  width: 100%;
  position: relative;
  margin-top: 28px;
}

.bars {
  position: absolute;
  bottom: 8px;
  right: 1px;
}

.symbol {
  position: absolute;
  top: 12px;
  right: 12px;
}

.greyed {
  border: solid 4px rgb(94, 94, 94) !important;
  color: rgb(94, 94, 94) !important;
  cursor: auto !important;
}

.jumpAnimation {
  &:hover {
    animation: jump 1s ease;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(0);
  }
}

@media(min-width: 1920px) {
  .sayHi {
    padding: 0 $extreme-padding;
    width: calc(100% - $extreme-padding * 2);
  }

  .contactForm {
    padding: 0 $extreme-padding;
    width: calc(100% - $extreme-padding * 2);
  }

  .bottom {
    width: calc(100% - $extreme-padding * 2);
  }
}

@media (max-width: 930px) {
  .sayHi {
    a {
      font-size: 64px;
    }
  }
}

@media (max-width: 700px) {
  .sayHi {
    a {
      font-size: 52px;
    }
  }
}

@media (max-width: 610px) {
  .sayHi {
    padding: 0 $secondary-padding;
    width: calc(100% - $secondary-padding * 2);
  }

  .contactForm {
    padding: 0 $secondary-padding;

    width: calc(100% - $secondary-padding * 2);
  }

  .bottom {
    width: calc(100% - $secondary-padding * 2);
  }
}

@media (max-width: 700px) {
  .sayHi {
    a {
      font-size: 48px;
    }
  }
}

@media (max-width: 400px) {
  .sayHi {
    a {
      font-size: 30px;
    }
  }
}
