<div class="skillsSection globalPadding">
    <div class="skillsContainer">
        <div class="skillsHeadline">
           <h2 class="creamColor">My Skills</h2> 
        </div>
        <div class="skills">
            <img src="/assets/img/Icon + Name s3.svg" alt="">
            <img src="/assets/img/Icon + Name s3 (1).svg" alt="">
            <img src="/assets/img/Icon + Name s3 (2).svg" alt="">
            <img src="/assets/img/Icon + Name s3 (3).svg" alt="">
            <img src="/assets/img/Icon + Name s3 (4).svg" alt="">
            <img src="/assets/img/Icon + Name s3 (5).svg" alt="">
            <img src="/assets/img/Icon + Name s3 (6).svg" alt="">
            <img src="/assets/img/Icon + Name s3 (7).svg" alt="">
            <img src="/assets/img/Frame 7.svg" alt="">
            <img src="/assets/img/Icon + Name s3 (8).svg" alt="">
        </div>
    </div>
    <div class="arrowRight">
        <img src="/assets/img/ARROW RIGHT.svg" alt="">
    </div>
</div>