<div class="skillsSection globalPadding" id="skills">
    <div class="skillsContainer">
        <div class="skillsHeadline">
            <h2 class="creamColor">My Skills</h2>
        </div>
        <div class="skills">
            <div>
                <img src="assets/img/Icons s3ang.svg" alt="">
                <p>
                    Angular
                </p>
            </div>
            <div>
                <img src="assets/img/Icons s3ts.svg" alt="">
                <p>
                    Typescript
                </p>
            </div>
            <div>
                <img src="assets/img/Icons s3js.svg" alt="">
                <p>
                    JavaScript
                </p>
            </div>
            <div>
                <img src="assets/img/Icons s3html.svg" alt="">
                <p>
                    HTML
                </p>
            </div>
            <div>
                <img src="assets/img/Icons s3css.svg" alt="">
                <p>
                    CSS
                </p>
            </div>
            <div>
                <img src="assets/img/Icons s3api.svg" alt="">
                <p>
                    Rest-API
                </p>
            </div>
            <div>
                <img src="assets/img/Icons s3scrum.svg" alt="">
                <p>
                    SCRUM
                </p>
            </div>
            <div>
                <img src="assets/img/Icons s3mat.svg" alt="">
                <p>
                    Material Design
                </p>
            </div>
            <div>
                <img src="assets/img/Icons s3git.svg" alt="">
                <p>
                    GIT
                </p>
            </div>
            <div>
                <img src="assets/img/Firebase.svg" alt="">
                <p>
                    Firebase
                </p>
            </div>









        </div>
    </div>
    <div class="arrowRight">
        <img src="assets/img/Group 3.svg" alt="">
    </div>
</div>