@import "src/assets/_variables.scss";

.project {
  width: calc(100% - $primary-padding * 2);
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.projectPicture {
  position: relative;
  width: 50.2%;
  display: flex;
  align-self: stretch;

  .frameLeft {
    border: solid 4px black;
    position: absolute;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 1%;
    left: 1%;
  }
  .frameRight {
    border: solid 4px black;
    position: absolute;
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 1%;
    right: 1%;
  }

  .thumbnail {
    width: 100%;
    aspect-ratio: 1.6/1;
    filter: grayscale(0.9);
  }

  .arrowButtonLeft {
    position: absolute;
    top: calc(50% - 20px);
    display: none;
    right: -30px;
    width: 40px;
    height: 40px;
    z-index: 2;
  }

  .arrowButtonRight {
    position: absolute;
    top: calc(50% - 20px);
    display: none;
    left: -30px;
    width: 40px;
    height: 40px;
    z-index: 2;
    rotate: -90deg;
  }
}

.animatePicture {
  .fadingIn {
    display: block !important;
    animation: fade-in 250ms ease-in;
  }

  .arrowButtonLeft,
  .arrowButtonRight {
    animation: rotateArrow 550ms ease forwards;
  }

  .thumbnail {
    animation: color 125ms ease-in;
    filter: grayscale(0);
  }
}

.textside {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.projectText {
  width: 70%;
}

.projectDescription {
  visibility: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
  gap: 12px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  position: relative;

  h2 {
    margin: 0;
    font-weight: 800;
    font-size: 48px;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;

    p {
      margin: 0;
      font-size: 23px;
      font-weight: 400;
      color: #5988ff;
      white-space: nowrap;
    }
  }

  span {
    font-size: 16px;
    font-weight: 400;
    font-family: Overpass;
  }

  a {
    border: solid 4px black;
    font-size: 23px;
    font-weight: 300;
    padding: 20px 60px;
    cursor: pointer;
    transition: transform 0.4s ease;
    transform-origin: left;
    color: black;
    text-decoration: none;

    &:hover {
      transform: scaleX(1.15);
    }
  }
}

.projectDescription.show {
  visibility: visible;
  opacity: 1;
}

.number {
  font-size: 42px;
  font-weight: 400;
  font-family: Syne;
}

.left {
  align-items: flex-end;
}

.right {
  align-items: flex-start;
}

.leftPad {
  padding-left: 30%;
}

.rightPad {
  padding-right: 30%;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotateArrow {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes color {
  from {
    filter: grayscale(0.9);
  }
  to {
    filter: grayscale(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 940px) {
  .project {
    flex-direction: column !important;
  }

  .projectPicture {
    width: 100%;
  }

  .textside {
    width: 100%;
  }

  .projectText {
    width: 100%;
    padding: 0 !important;
  }

  .right {
    align-items: flex-end;
  }

  .frameRight {
    left: 1%;
  }
}

@media (max-width: 610px) {
  .project {
    width: calc(100% - $secondary-padding * 2);
  }

  .projectPicture {
    width: 98%;
  }
}

@media (max-width: 540px) {
  .arrowButtonLeft {
    right: -20px !important;
    width: 20px !important;
    height: 20px !important;
  }

  
  h2 {

    font-size: 32px;
  }

  span {
    font-size: 15px;

  }
}

@media (max-width: 460px) {
  .arrowButtonLeft {
    right: -20px !important;
    width: 20px !important;
    height: 20px !important;
  }

  h2 {

    font-size: 28px !important;
  }

}

@media (max-width: 400px) {
  .projectDescription {
    div {
      flex-wrap: wrap;
    }
  }
}

// .numberRight {
//   position: absolute;
//   top: 4px;
//   left: 97px;
//   font-size: 42px;
//   font-weight: 400;
//   font-family: Overpass;
// }

// .projectPicture:hover + .projectText {
//   display: flex;
//   transform: translateX(0);
// }

// .projectText:hover {
//   display: flex;
//   transform: translateX(0);
// }

// .projectText {
//   //visibility: hidden;
//   justify-content: space-between;
//   flex-direction: column;
//   align-self: stretch;
//   transform: translateX(100%);
//   transition: transform 0.3s ease;
// }
