@import "src/assets/_variables.scss";

div {
  margin: 130px 0;
  padding: 0 $primary-padding;
  font-family: Overpass;
}

@media(min-width: 1920px) {
  .head {
    padding: 0 $extreme-padding;
  }
}


@media (max-width: 610px) {
  div {
    padding: 0 $secondary-padding;
  }
}
