@import 'src/assets/_variables.scss';

body {
    margin: 0;
    background-color: #FFFCF3;
    font-family: 'Syne';
}


.creamColor {
    background-color: #FFFCF3;
}

.globalPadding {
    padding: 0 $primary-padding;
}

body::-webkit-scrollbar {
  width: 8px; 
}

body::-webkit-scrollbar-track {
  background: transparent; 
}

body::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.6); 
  border-radius: 4px; 
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.8); 
}

@media(min-width: 1920px) {
  .globalPadding {
    padding: 0 $extreme-padding;
}
}


@media (max-width: 610px) {
  .globalPadding {
    padding: 0 $secondary-padding;
}
}

@font-face {
    font-family: 'Overpass';
    src: url(assets/fonts/Overpass-Italic-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: 'Overpass';
    src: url(assets/fonts/Overpass-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: 'Syne';
    src: url(assets/fonts/Syne-VariableFont_wght.ttf);
  }
  




