@import 'src/assets/_variables.scss';

body {
    margin: 0;
    background-color: #FFFCF3;
    font-family: 'Syne';
}

.creamColor {
    background-color: #FFFCF3;
}

.globalPadding {
    padding: 0 $primary-padding;
}

@media (max-width: 610px) {
  .globalPadding {
    padding: 0 $secondary-padding;
}
}

@font-face {
    font-family: 'Overpass';
    src: url(assets/fonts/Overpass-Italic-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: 'Overpass';
    src: url(assets/fonts/Overpass-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: 'Syne';
    src: url(assets/fonts/Syne-VariableFont_wght.ttf);
  }
  




