@import "src/assets/_variables.scss";




.burgerMenu {
  height: 90vh;
    padding: 0 $primary-padding;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
    margin: 120px 0;
  
    a {
      position: relative;
      color: black;
      text-decoration: none;
      overflow: hidden;
  
      &:hover {
        img {
          animation: fadeOut 250ms ease;
          opacity: 0;
        }
  
        .bar {
          transform: translateX(70%);
          animation: slideIn 1s forwards;
        }
      }
  
      h1 {
        font-weight: 700;
        font-size: 96px;
        margin: 0;
        padding: 30px 46px;
      }
  
      img {
        position: absolute;
        left: 0;
        bottom: 0;
      }
  
      .bar {
        transform: translateX(-100%);
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: black;
        height: 4px;
        width: 100%;
      }
    }
  }
  
  @keyframes fadeOut {
      from {
          opacity: 1;
      } to {
          opacity: 0;
      }
  }
  
  @keyframes slideIn {
    10% {
      transform: translateX(-60%);
    }
    20% {
      transform: translateX(-40%);
    }
    30% {
      transform: translateX(-20%);
    }
    40% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(20%);
    }
    60% {
      transform: translateX(40%);
    }
    70% {
      transform: translateX(70%);
    }
  }
  

  @media(min-width: 1920px) {
    .burgerMenu {
      padding: 0 $extreme-padding;
    }
  }

  
  @media (max-width: 952px) {
    h1 {
      font-size: 70px !important;
    }
  }

  @media (max-width: 780px) {
    h1 {
      font-size: 44px !important;
    }
  }

  @media (max-width: 610px) {
    .burgerMenu {
      padding: 0 $secondary-padding;
    }

    h1 {
      font-size: 25px !important;
    }
  }